@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* width: 1440px; */
    font-family: 'Roboto', sans-serif;
    font-weight: semi-bold;
}

.big-flex-top {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    /* flex: wrap; */
    /* width: 800px; */
    
    
} 

.contain-width {
    color: white;
    height: 400px;
    width: 800px;
    gap: 72px;
    padding: 8px 148px;
    
}

.header {
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-direction: row;
    /* width: 800px; */
    gap: 32px;

}

.left-text {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    font-size: 18px;
    color: #F9FAF8;
}

.img-placeholder {
    flex-shrink: 0;
    background-color: grey;
    width: 400px;
    height: 200px;
    text-align: center;
    
}

.title {
    padding: 0;
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

button {
    padding: 8px;
    width: 108px;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 800;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #E5E7EB;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
}