@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;0,900;1,100&display=swap');
/* font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* width: 1440px; */
    font-family: 'Roboto', sans-serif;
    font-weight: semi-bold;
}

.big-flex-top {
    background-color: #1f2937;

}

.big-flex-top, .big-flex-middle {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: wrap; */
    /* width: 800px; */
    
    
} 

.contain-width {
    display: flex;
    flex-direction: column;
    color: white;
    height: 400px;
    width: 800px;
    gap: 72px;
    padding-top: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-direction: row;
    /* width: 800px; */
    gap: 32px;

}

.left-text {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    font-size: 18px;
    color: #F9FAF8;
}

.img-placeholder {
    display: flex;
    flex-shrink: 0;
    background-color: grey;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
    
}

.title {
    padding: 0;
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

button {
    padding: 8px;
    width: 108px;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 800;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #E5E7EB;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 12px;
    text-align: left;
}

.big-flex-middle {
    background-color: #F9FAF8;
    height: 400px;
}

.contain-width.middle {
    /* justify-content: center; */
    gap: 24px;
}

.title-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.box-placeholder {
    border: solid 3px #3882F6;
    border-radius: 8px;
    width: 146px;
    height: 146px;
}

.middle-gallery {
    display: flex;
    gap: 36px;
    justify-content: center;
}

.box-gal-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 148px;
}
p {
    text-align: center;
    color: #1f2937;
}

.big-flex-middle-2 {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    height: 344px;
}

.quote-block {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.source {
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
    text-align: right;
}

.contain-width.bm {
    padding: 0;
    margin: 0;
    gap: 0;
    height: 344px;
    justify-content: center;
    align-items: center;
}